<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Ваш надежный партнер в области транспортно-логистического сопровождения">
	<meta name="keywords" content="надежный, партнер, области, транспортно-логистического сопровождения">
	<link rel="icon" href="#" type="image/x-icon">
 	<link rel="shortcut icon" href="#" type="image/x-icon"> 
	<meta property="og:title" content="LAB Consulting">
	<meta property="og:description" content="Ваш надежный партнер в области транспортно-логистического сопровождения">
	<meta property="og:type" content="article">
	<meta property="og:image" content="#">
	<meta property="og:site_name" content="activelive">
	<title>LAB Consulting</title>
	<!-- Bootstrap Reboot CSS -->
	<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/solid.css" integrity="sha384-HTDlLIcgXajNzMJv5hiW5s2fwegQng6Hi+fN6t5VAcwO/9qbg2YEANIyKBlqLsiT" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/brands.css" integrity="sha384-KtmfosZaF4BaDBojD9RXBSrq5pNEO79xGiggBxf8tsX+w2dBRpVW5o0BPto2Rb2F" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/fontawesome.css" integrity="sha384-8WwquHbb2jqa7gKWSoAwbJBV2Q+/rQRss9UXL5wlvXOZfSodONmVnifo/+5xJIWX" crossorigin="anonymous">
	<!-- Main CSS -->
	<link rel="stylesheet" href="css/main.css">
	<!-- Media Queries CSS -->
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	<header id="header" class="header">
		<div class="nav">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<img src="img/logo.png" alt="logo">
					</div>
					<div class="col-lg-6 offset-lg-1">
						<div class="menu">
							<ul class="menu__navigations d-flex justify-content-between">
								<li class="menu__item">
									<a href="#">
										О компании
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										Пресс-центр
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										Услуги
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
									    Отрасли
									</a>
								</li>
								<li class="menu__item">
									<a href="#">
										Контакты
									</a>
								</li>			
							</ul>
						</div>
					</div>
					<div class="col-lg-2">
						<div class="button">
							<a href="#" class="call-btn">
								<i class="fas fa-phone call-icon"></i>
								Заказать звонок
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xl-5">
					<div class="offer">
						<h1 class="offer__title">
							LAB Consulting
						</h1>
						<p class="offer__text">
							Ваш надежный партнер в области транспортно-логистического сопровождения    
						</p>
						<div class="offer__icons">
							<i class="fab fa-facebook facebook"></i>
							<i class="fab fa-twitter twitter"></i>
							<i class="fab fa-telegram-plane telegram"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section id="trust" class="trust">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="trust__title">
						<h2 class="trust__title-main">
							Мы заслужили доверие
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="wrapper">
						<div class="wrapper__lamp">
							<div class="wrapper__icon wrapper__icon_lamp"></div>
							<div class="wrapper__list">
								<h5 class="wrapper__title">
									Что мы предлагаем?
								</h5>
								<p class="wrapper__info">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="wrapper">
						<div class="wrapper__gamb">
							<div class="wrapper__icon wrapper__icon_gamb"></div>
							<div class="wrapper__list">
								<h5 class="wrapper__title">
									Как мы работаем?
								</h5>
								<p class="wrapper__info">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ill
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="wrapper">
						<div class="wrapper__five">
							<div class="wrapper__icon wrapper__icon_five"></div>
							<div class="wrapper__list">
								<h5 class="wrapper__title">
									Почему мы?
								</h5>
								<p class="wrapper__info">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-2 offset-lg-5">
					<div class="button-2">
						<div class="button btn">
							<a href="#" class="call-btn">
								Подробнее
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="reasons__item">
						<div class="reasons__ellips reasons__ellips">
							<p>
								L
							</p>
						</div>
						<div class="reasons__content">
							<h3 class="reasons__title">
								<span>L</span>egal
							</h3>
						</div>
						<div class="reasons-text">
							<p>
								But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="reasons__item">
						<div class="reasons__ellips reasons__ellips">
							<p>
								A
							</p>
						</div>
						<div class="reasons__content">
							<h3 class="reasons__title">
								<span>A</span>ccounting
							</h3>
						</div>
						<div class="reasons-text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="reasons__item">
						<div class="reasons__ellips reasons__ellips">
							<p>
								B
							</p>
						</div>
						<div class="reasons__content">
							<h3 class="reasons__title">
								<span>B</span>usiness
							</h3>
						</div>
						<div class="reasons-text">
							But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="info" id="info">
		<div class="container">
			<div class="row d-flex">
				<div class="col-lg-9">
					<div class="mission-news">
						<h4 class="mission-news__title">
							Миссия LAB Consulting
						</h4>
						<hr class="strip">
						<div class="mission__text d-flex">
							<div class="mission__text mission__text_text">
								<p class="mission__text mission__text_1">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
								</p>
								<p class="mission__text mission__text_3">
									Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								</p>
							</div>
							<div class="mission__text mission__text_text">
								<p class="mission__text mission__text_2">
									Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
								</p>
								<p>
									Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
								</p>
							</div>
						</div>
						<div class="mission-button">
							<a href="#" class="more">
								Узнать больше
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="news">
						<h4 class="mission-news__title">
							Новости
						</h4>
						<hr class="strip">
						<div class="news__text d-flex">
							<div class="news__text-img">
								<img src="img/bus.jpg" alt="bus">
							</div>
							<div class="news__text-info">
								<p class="news-text">
									LAB Consulting запускает новое направление в своих услугах
								</p>
								<p class="news-date">
									02.12.2015
								</p>
							</div>
						</div>
						<hr class="strip-2">
						<div class="news__text d-flex">
							<div class="news__text-img">
								<img src="img/bus.jpg" alt="bus">
							</div>
							<div class="news__text-info">
								<p class="news-text news-text_2">
									LAB Consulting запускает новое направление в своих услугах
								</p>
								<p class="news-date">
									02.12.2015
								</p>
							</div>
						</div>
						<hr class="strip-2">
						<div class="news__text d-flex">
							<div class="news__text-img">
								<img src="img/bus.jpg" alt="bus">
							</div>
							<div class="news__text-info">
								<p class="news-text news-text_3">
									LAB Consulting запускает новое направление в своих услугах
								</p>
								<p class="news-date">
									02.12.2015
								</p>
							</div>
						</div>
						<hr class="strip-3">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="informations" id="informations">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="company">
						<h4 class="information__title">
							О компании
						</h4>
						<ul class="information__list">
							<li class="information__item">
								<a class="informations__link" href="#">
									Видение, миссия и ценности
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Преимущества
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Клиенты
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Партнеры
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="centr">
						<h4 class="information__title">
							Пресс – центр
						</h4>
						<ul class="information__list">
							<li class="information__item">
								<a class="informations__link" href="#">
									Новости
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Публикации
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Мероприятия
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 offset-lg-2">
					<div class="services">
						<h4 class="information__title">
							Услуги
						</h4>
						<ul class="information__list">
							<li class="information__item">
								<a class="informations__link" href="#">
									Legal (Юридическое сопровождение)
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Accounting ( Финансовый аутсорсинг)
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Business Consulting (Бизнес консалтинг)
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="industry">
						<h4 class="information__title">
							Отрасли
						</h4>
						<ul class="information__list">
							<li class="information__item">
								<a class="informations__link" href="#">
									Аграрный сектор
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Внешнеэкономическая деятельность
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									ИT – бизнес
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Оптовая и розничная торговля
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Сфера услуг
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Транспорт и Логистика
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-1">
					<div class="education">
						<h4 class="information__title">
							Образовательный центр
						</h4>
						<ul class="information__list">
							<li class="information__item">
								<a class="informations__link" href="#">
									Про Образовательный Центр
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Бизнес-тренинги, семинары, круглые столы
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Преимущества
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Alumni
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="entrepreneurship">
						<h4 class="information__title">
							Соц. предпринимательство
						</h4>
						<ul class="information__list">
							<li class="information__item">
								<a class="informations__link" href="#">
									Социальная миссия
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Проекты 
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Партнеры
								</a>
							</li>
							<li class="information__item">
								<a class="informations__link" href="#">
									Консультация эксперта
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer" id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="brand">
						<img src="img/logofooter.png" alt="logo">
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="coordinates">
						<p>
							Вы хотите сотрудничать с нами? 
						</p>
						<p>
							У Вас есть идеи или предложения? 
						</p>
						<p>
							Свяжитесь с нами прямо сейчас!
						</p>
					</div>
					<div class="adress">
						<p>
							65000,
						</p>
						<p>
							Украина, г. Одесса
						</p>
						<p>
							Ул Базарная, 36
						</p>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="cooperation d-flex">
						<div class="square">
							W
						</div>
						<div class="infoblock">
							<p class="cooperation__text cooperation__text_1">
								Дизайн и разработка
							</p>
							<p class="cooperation__text cooperation__text_2">
								Коучинг по верстке
							</p>
						</div>
					</div>
					<div class="rule">
						<p class="rule__text rule__text_1">
							© Все права защищены
						</p>
						<p class="rule__text rule__text_2">
							<span>Lab</span> Consulting
						</p>
						<a href="#">
							<b>lab-consult.com</b>
						</a>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1">
					<div class="button btn-footer">
						<a href="#" class="call-btn btn-footer">
							<i class="fas fa-phone call-icon"></i>
							Заказать звонок
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
